<head>
   <link rel="stylesheet" href="../css/login.css">
</head>
<body>
<div class="container">
<form class="form-signin" role="form">
    <h2 class="login-heading">请登录</h2>
    <input type="text" class="form-control" placeholder="用户名" required autofocus>
    <input type="password" class="form-control" placeholder="密码" required >
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me">
            记住我
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="login()" >登录</button>
</form>
</div>
</body>